body{
    background-color: #000;
}

.container{
    z-index: -1;
    background-color:rgb(155, 134, 189);
    filter:blur(1px);
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    z-index: 3;
    filter: blur(0);
    background-color:rgb(226, 187, 233);
    border: 1px solid black;
    width:50%;
    height: 50%;
    display: flex; 
    flex-wrap: wrap ;
    flex-direction: column;
    justify-content: space-between;
}
.quote{
    height:50%;
    /* width:50%; */
}
.box button{
    position: relative;
    margin-bottom: 0px;
    height:10%
}